.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    word-wrap: break-word;
    width: 80%;
    height: 70vh;
}

.first-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first-text span{
    color: rgb(0, 45, 192);
    
}

.skills{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    margin-top: 50px;
}

.skills li{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
    
    
    
}



@media (max-width: 425px) {
    .first-text {
        text-align: center;
    }

    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
}